.part1{
    background-color: aqua;
    padding: 20px;
    margin: 20px;
}
h1{
    background-color: tomato;
    width: fit-content;
}
.second{
    background-color: violet;
    padding: 20px;
    border: 5px solid violet;
    border-radius: 5px;
}
.second h2{
    background-color: rgb(255, 213, 0);
    width: fit-content;
}
.second ul li{
    width: fit-content;
    margin-bottom: 2px;
    background-color: red;
}